<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Convertidor de valores</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Convertidor de Valores!</h1>
        <p class="lead">Indica la cantidad del indicador que deseas convertir y luego el indicador de salida.</p>
        <hr class="my-4">
        <div class="form-row">
          <div class="col-md-2 mb-1">
            <label>Cantidad:</label>
            <input type="number" class="form-control" [(ngModel)]="qtyInput" >
          </div>
          <div class="col-md-3 mb-10">
            <label>Selecciona indicador:</label>
            <select class="custom-select" [(ngModel)]="indicatorInput">
              <option selected disabled value="">Selecciona indicador...</option>
              <option [value]="item" *ngFor="let item of indicatorsList">{{item}}</option>
            </select>
          </div>
          <div class="col-md-4 mb-12">
            <label>Convertir a: </label>
            <select class="custom-select" [(ngModel)]="indicatorOutput">
              <option selected disabled value="">Selecciona indicador...</option>
              <option [value]="item" *ngFor="let item of indicatorsList">{{item}}</option>
            </select>
          </div>
          <div class="col-md-12 mb-12">
            <button class="btn btn-primary" (click)="calculator()">Calcular</button>
          </div>
          <div class="col-md-12 mb-12">
            <label> {{ result }} </label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>